PicassoToGenesisnutritionData/Branch/Source/picasso_to_genesis_nutrition_data_integration_onperm/src/main/app/ptgexceptionhandler.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
    <flow name="RollBackTable">
        <message-properties-transformer doc:name="Setting logging Message Properties">
             <add-message-property key="timestamp" value="#[server.dateTime.format('yyyy-MM-dd hh:mm:ss.SS')]"/>
                 <add-message-property key="messageID" value="#[message.id]"/>
                 <add-message-property key="status" value="Success"/>
                 <add-message-property key="executionPoint" value="Error occured and data roll back started"/>
                 <add-message-property key="integrationName" value="${integrationName}"/>
                 <add-message-property key="ip" value="#[server.ip]"/>
                 <add-message-property key="serverName" value="#[server.host]"/>
                 <add-message-property key="domainname" value="cocacola.com"/>
                 <add-message-property key="sourceSystemName" value="Picasso DB"/>
                 <add-message-property key="targetSystemName" value="Genesis DB"/>
                 <add-message-property key="resourceType" value="DataBase"/>
            	 <add-message-property key="resourceName" value="Picasso"/>
        </message-properties-transformer>
        <logger message="#[LoggingAppendString]-Rolling back inserted data" level="INFO" doc:name="Logger"/>
        <db:select config-ref="PICASSO_DB_Connection" doc:name="Database">
            <db:parameterized-query><![CDATA[SELECT max(Tibco_dt) as lastdt FROM t_ko_genesis_load_status]]></db:parameterized-query>
        </db:select>
        <set-variable variableName="maxDate" value="#[payload[0].lastdt]" doc:name="Variable"/>
        <transactional action="ALWAYS_BEGIN" doc:name="Transactional">
            <db:delete config-ref="Genesis_Database_Configuration" doc:name="Database">
                <db:parameterized-query><![CDATA[DELETE FROM t_ko_genesis_formula_bom where Insert_dt > #[flowVars.maxDate]]]></db:parameterized-query>
            </db:delete>
            <db:delete config-ref="Genesis_Database_Configuration" doc:name="Database">
                <db:parameterized-query><![CDATA[DELETE FROM t_ko_genesis_formula_extattr where Insert_dt > #[flowVars.maxDate]]]></db:parameterized-query>
            </db:delete>
            <db:delete config-ref="Genesis_Database_Configuration" doc:name="Database">
                <db:parameterized-query><![CDATA[DELETE FROM t_ko_genesis_Ingredient_Composition where   Insert_dt > #[flowVars.maxDate]]]></db:parameterized-query>
            </db:delete>
            <db:delete config-ref="Genesis_Database_Configuration" doc:name="Database">
                <db:parameterized-query><![CDATA[DELETE FROM t_ko_genesis_ingredient_raw_mat_extattr where Insert_dt > #[flowVars.maxDate]]]></db:parameterized-query>
            </db:delete>
            <db:delete config-ref="Genesis_Database_Configuration" doc:name="Database">
                <db:parameterized-query><![CDATA[DELETE FROM t_ko_genesis_ingredient_allergens_sensitivities where  Insert_dt > #[flowVars.maxDate]]]></db:parameterized-query>
            </db:delete>
            <db:delete config-ref="Genesis_Database_Configuration" doc:name="Database">
                <db:parameterized-query><![CDATA[DELETE FROM t_ko_genesis_ingredient_nutrition where  Insert_dt > #[flowVars.maxDate]]]></db:parameterized-query>
            </db:delete>
        </transactional>
            <message-properties-transformer doc:name="Setting logging Message Properties">
             <add-message-property key="timestamp" value="#[server.dateTime.format('yyyy-MM-dd hh:mm:ss.SS')]"/>
                 <add-message-property key="messageID" value="#[message.id]"/>
                 <add-message-property key="status" value="Success"/>
                 <add-message-property key="executionPoint" value="Roll Back Success"/>
                 <add-message-property key="integrationName" value="${integrationName}"/>
                 <add-message-property key="ip" value="#[server.ip]"/>
                 <add-message-property key="serverName" value="#[server.host]"/>
                 <add-message-property key="domainname" value="cocacola.com"/>
                 <add-message-property key="sourceSystemName" value="Picasso DB"/>
                 <add-message-property key="targetSystemName" value="Genesis DB"/>
                 <add-message-property key="resourceType" value="DataBase"/>
            	 <add-message-property key="resourceName" value="Picasso"/>
        </message-properties-transformer>
        <logger message="#[LoggingAppendString]-Rollback Success" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
